
<!-- Vendor scripts: JS libraries and plugins -->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
<script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
<script src="assets/vendor/@fullcalendar/core/index.global.min.js"></script>
<script src="assets/vendor/@fullcalendar/daygrid/index.global.min.js"></script>
<script src="assets/vendor/@fullcalendar/list/index.global.min.js"></script>
<script src="assets/vendor/@fullcalendar/timegrid/index.global.min.js"></script>
<script src="assets/vendor/@fullcalendar/bootstrap5/index.global.min.js"></script>

<!-- Bootstrap + Theme scripts -->
<script src="assets/js/theme.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.google_analytics}}');
</script>

