<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
{% include head.html %}
</head>
<body>
  <!-- Page loading spinner-->
  <div class="page-loading active">
    <div class="page-loading-inner">
      <div class="page-spinner"></div><span>Loading...</span>
    </div>
  </div>
  <!-- Page wrapper-->
  <main class="page-wrapper">
    <div class="dark-mode">
  <!-- Page wrapper-->
    <!-- NAVBAR -->
   {% include nav.html %}
    </div>

    {{ content }}
  </main>
    <!-- FOOTER -->
    {% include footer.html %}
    <!-- JAVASCRIPT -->
    {% include scripts.html %}
  </body>
</html>
